<% include partial/head.ejs %>
  <body>
    <% include partial/navbar.ejs %>
    <nav id="brc-pad1" class="light-blue lighten-2">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/e/">Categories</a>
            <a href="/e/<%= entities[0].prefix.type.hex %>" class="breadcrumb"><%= entities[0].prefix.type.hex %></a>
            <a href="/e/<%= entities[0].prefix.type.hex %>/<%= entities[0].prefix.hex %>" class="breadcrumb"><%= entities[0].prefix.hex %></a>
          </div>
        </div>
    </nav>
    <div class="row">
    <div class="col offset-s1 s1"><p>TYPE: <%= entities[0].prefix.type.hex %></div>
    <div class="col s1"><p>PREFIX: <%= entities[0].prefix.hex %></p></div>
    <div class="col s1"><p>NAME: <%= entities[0].prefix.name %></p></div>
    <div class="col s3"><p>DESCRIPTION: <%= entities[0].prefix.description %></p></div>
    <div class="col s3"><p>Owner: <a href="/u/<%= prefix.owner.username %>"><%= prefix.owner.username %></a></p></div>
    </div>
    <p>
    <% for(var i = 0; i < entities.length; i++) { %>
        <div class="row">
            <div class="col offset-s3 s3"><a href="/e/<%= entities[i].prefix.type.hex %>/<%= entities[i].prefix.hex %>/<%= entities[i].entity.hex %>"><%= entities[i].entity.fullUEID%></a></div>
            <div class="col s3"><%=JSON.stringify(entities[i])%></div>
        </div>
    <% } %>
    
    </p>
    <% include partial/footer.ejs %>
<% include partial/foot.ejs %>
