<% include partial/head.ejs %>
    <% include partial/navbar.ejs %>
    <nav id="brc-pad1" class="light-blue lighten-2">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/e/">Categories</a>
            <a href="/e/<%= type %>" class="breadcrumb"><%= type %></a>
          </div>
        </div>
    </nav>
    <div class="container">
        <% for(var i=0; i<prefixi.length; i++) {%>
        <div class="row">
            <div class="col s3"><a href="/e/<%= type %>/<%= prefixi[i].hex %> %>"><%= prefixi[i].hex %></a></div>
            <div class="col s3"><%= JSON.stringify(prefixi[i]) %></div>
        </div>
        <%} %>
    </div>
    <%= JSON.stringify(data) %>
    <% include partial/footer.ejs %>
<% include partial/foot.ejs %>
